/* darkmode.css */

/* top bar */
body {
  background-color: #222;
  color: #fff;
}

/* top bg */
.container {
  background-color: #333;
}

/* Dark mode title */
.dark-mode-toggle {
  color: #ffffff;
}

.custom-table th {
  background-color: #444;
  color: #373737;
}

.custom-table tbody tr {
  background-color: #333;
  color: #000; /* Change the text color to black */
}



.btn {
  color: #000000;
}

